{% extends "vocabulario_app/global/index.html" %}
{% load static %}
{% block title %}Word List{% endblock title %}

{% block content %}
    <main id="container-word-list">
        <h1>Word List</h1>
        <p>VOCABULO --- SIGNIFICADO --- EXEMPLO--- FREQUENCIA</p>
        {% for word in words%}
        <ul>
            <li>{{ word.vocabulo }} /#/ {{ word.significado }} /#/ {{ word.exemplo }} /#/ {{ word.frequencia }}
                {% comment %} {% url 'atualizar_vocabulary' word.id %} {% endcomment %}
                <a href="{% url 'update_vocabulary' word.id %}">Edit</a>
                {% comment %} {% url 'deletar_vocabulary' word.id %} {% endcomment %}
                <a href="{% url 'delete_vocabulary' word.id %}">Delete</a>
            </li>        
        </ul>
        {% endfor %}
    </main>
{% endblock content %}
